.authentication_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 70vh;
    /* background: rgb(76, 76, 225); */
}

.authentication_image_wrapper img {
    width: 25vh;
    height: 25vh;
    border-radius: 120px;
    margin: 10px 0px;
}

.authentication_camera_picker {
    display: flex;
    align-items: center;
    margin-left: 0px;
    cursor: pointer;
}

.authentication_camera_picker div:last-child {
    font-size: 25px;
    margin-top: 80px;
}

.authentication_form_wrapper {

} 

.authentication_form_wrapper button {
    width: 350px;
    padding: 8px 5px;
    border-radius: 6px;
    border: 1px solid black;
    background: #fff;
    cursor: pointer;
}

.authentication_form_wrapper button div:first-child {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.authentication_email_wrapper,
.authentication_password_wrapper {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.authentication_email_wrapper div,
.authentication_password_wrapper div {
    font-size: 24.5px;
    padding: 0px 5px;
    border: 1px solid black;
}

.authentication_email_wrapper input,
.authentication_password_wrapper input {
    outline: none;
    padding: 8px 5px;
    width: 300px;
    border: 1px solid black;
}

@media(max-width: 499px) {
    .authentication_email_wrapper input,
    .authentication_password_wrapper input {
        width: 200px;
    }

    .authentication_form_wrapper button {
        width: 250px;
    }
}