.authentication_main_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0px;
    height: 80vh;
}

.authentication_logo_area {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.authentication_logo_area p:first-child {
    font-size: xx-large;
}

.authentication_logo_area header {
    font-size: larger;
    font-family:'Times New Roman', Times, serif;
}

.authentication_input_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.authentication_username_email_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.authentication_username_email_wrapper input,
.authentication_password_container input {
    padding: 8px 100px;
    border-radius: 10px;
    margin: 10px 0px;
}

.authentication_password_container {
    display: flex;
    flex-direction: column;
}

.authentication_showPassword_wrapper {
    display: flex;
    align-items: center;
    font-family: serif;
    margin-top: -8px;
}

.authentication_showPassword_wrapper input {
    margin-right: 20px;
}

/* create an account wrapper */
.authentication_create_an_account {
    display: flex;
    justify-content: center;
}

.authentication_create_an_account p:last-child a {
    text-decoration: none;
    margin-left: 8px;
}

/* css spinner loading styles */
.loader,
.loader:before,
.loader:after {
  border-radius: 25%;
}
.loader {
  color: #ffffff;
  font-size: 2.5px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: '';
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: #0dc5c1;
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}



@media (max-width: 499px) {
    .authentication_input_wrapper {
        margin: 20px 7%;
    }

    .authentication_username_email_wrapper input,
    .authentication_password_container input {
        padding: 8px 60px;
    }

    .authentication_main_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0px;
    }
}

@media (min-width: 500px) {
    .authentication_input_wrapper {
        margin: 20px 20%;
    }

    .authentication_username_email_wrapper input,
    .authentication_password_container input {
        padding: 8px 60px;
    }

    .authentication_main_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0px;
    }
}  


@media (min-width: 539px) {
    .authentication_input_wrapper {
        margin: 20px 40%;
    }

    .authentication_username_email_wrapper input,
    .authentication_password_container input {
        padding: 8px 60px;
    }

    .authentication_main_wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px 0px;
    }
}  