.settingsPage_wrappers {
    border: 1px solid black;
    margin: 70px 500px;
    font-family: sans-serif;
}

.settingsPage_header_wrapper {
    border-bottom: 1px solid black;
    margin-top: 16px;
}

.settingsPage_arrowback_icon {
    font-size: 1.5em;
}

.settingsPage_settings_div {
    text-align: center;
    margin-bottom: 10px; 
}

.settingsPage_change_password_container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5px;
}

.settingsPage_signout {
    text-align: center;
    color: red;
    cursor: pointer;
}

@media(max-width: 769px) {
    .settingsPage_wrappers {
        margin: 70px 80px;
    }
}

@media(min-width: 800px) {
    .settingsPage_wrappers {
        margin: 70px 200px;
        font-size: 1.5em;
    }
}

@media(max-width: 499px) {
    .settingsPage_wrappers {
        margin: 70px 10px;
    }
}

