.dashboard_container {
    border: 2px solid #eee;
    padding: 20px 10px;
    margin: 30px 20px;
    border-radius: 0.5em;
}

.dashboard_currency_amount {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard_account {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.dashboard_fullname {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px; 
}
