.Chat_wrapper {
    margin-top: 100px;
}

.Chat_header_wrapper {
    background: rgba(93, 173, 93, 0.7);
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px 0px;
}

.Chat_header_wrapper li {
    list-style: none;
}

.Chat_header_wrapper li a {
    color: #fff;
    font-size: 25px;
    margin-right: 5px;
}

.Chat_header_wrapper div:first-child, 
.Chat_header_wrapper div:last-child {
    font-size: x-large;
    color: #fff;
}

.Chat_img_wrapper {
    display: flex;
    align-items: center;
}

.Chat_img_wrapper div:last-child {
    color: green;
    font-family: serif;
}

.Chat_img_wrapper div img,
.Chat_body_receiver_img img,
.Chat_body_sender_img img {
    width: 30px;
    height: 30px;
    border-radius: 5rem;
}

#divId {
    border: none;
    padding: 30px 0px;
    position: relative;
    scroll-margin-bottom: 20px; 
    scroll-behavior: smooth;
}

/* .Chat_body_sender_img {
    display: flex;
    justify-content: flex-end;
} */