.imageSliderPage_container {
    /* transform: translateX(0vh); */
    transition: 0.5 ease-out;
    margin: 80px 0px;
}


.imageSliderPage_img {
    width: 500px;
    height: 300px;
}

/* .imageSliderPage_img_Enter {
    transition: 0.3s ease-in;
    transform: translateX(50vh);
}

.imageSliderPage_img_Leave {
    transition: 0.3s ease-out;
    transform: translateX(-100vh);
} */

@media(max-width: 499px) {
    .imageSliderPage_img {
        width: 330px;
        height: 200px;
    }
}

@media(max-width: 344px) {
    .imageSliderPage_img {
        width: 300px;
        height: 200px;
    }
}