.chatDetails_container_wrapper_ {
    text-align: center;
    margin: 20px 0px;
}

.chatDetails_contact_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    background: #fff;
    padding: 12px 0px;
}

.chatDetails_contact_wrapper div:first-child {
    font-size: x-large;
}

.chatDetails_image_profile_ div img {
    margin: 50px 0px;
    width: 350px;
    height: 350px;
    border-radius: 10px; 
}

.chatDetails_specialCases_ {
    color: red;
    opacity: 0.5;
    box-shadow: 0 1px 4px 0 black;
    background: #fff;
    border-radius: 8px; 
    text-transform: capitalize;
    margin: 0px 20px;
    padding: 10px 0px;
    text-align: start;
    cursor: pointer;
}

.chatDetails_specialCases_ div {
    font-size: bold;
    margin: 0px 13px ;
}

@media(min-width: 500px) {
    .chatDetails_specialCases_ {
        text-align: center;
        box-shadow: none;
        padding-bottom: 8px;
    }
}