@media(max-width: 499px) {
    .navlink_container__QB2X {
        display: none;
    }
    
}

.navlink_spacing {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: -20px;
    list-style: none;
}

.navlink_spacing a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

.navlink_spacing a:active {
    text-decoration: underline;
    border-bottom: 2px solid blue;
}


@media (max-width: 499px) {
    .navlink_spacing {
        /* display: none; */
        /* color: black;
        border: 1px solid black; */
    }
}