.beneficiary_wrapper {
    padding: 20px 30px;
    border-bottom: 0.2px solid grey;
}

.beneficiary_icon_wrapper {
    display: flex;
    align-items: center;
}

.beneficiary_icon_wrapper span {
    margin-right: 10px;
    font-size: larger;
    color: red;
    cursor: pointer;
}

.beneficiary_icon_wrapper div {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
    opacity: 0.7;
    cursor: pointer;
}

.beneficiary_wrapper p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.beneficiary_narration_input_wrapper input {
    border: none;
    outline: none;
}