.beneficiary_wrapper {
    padding: 20px 30px;
    border-bottom: 0.2px solid grey;
}

.beneficiary_icon_wrapper {
    display: flex;
    align-items: center;
}

.beneficiary_icon_wrapper span {
    margin-right: 15px;
}

.beneficiary_icon_wrapper div,
.beneficiary_wrapper p {
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.beneficiary_narration_input_wrapper input {
    border: none;
    outline: none;
}