.changePasswordComponentPage_container {
    display: flex;
    flex-direction: column;
    margin: 10px 70px;
    font-family: sans-serif;
} 

.changePasswordComponentPage_header_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.changePasswordComponentPage_input_wrapper {
    margin: 80px 300px;
}

.changePasswordComponentPage_currentPassword {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border: 1px solid black;
    margin-bottom: 20px;
    padding: 0px 30px;
    border-radius: 5px;
}

.changePasswordComponentPage_current_wrapper {
    display: flex;
    justify-content: space-between;
}

.changePasswordComponentPage_current_wrapper div {
    margin-top: 30px;
}

.changePasswordComponentPage_current_wrapper input {
    padding: 10px 0px;
    width: 350px;
    border: none;
    outline: none;
}

.changePasswordComponentPage_enter_digits {
    display: flex;
    /* align-items: center; */
    flex-direction: column;
    justify-content: space-around;
}


/*  button styles  */
.changePasswordComponentPage_changePassword_button {
    display: flex;
    align-items: center;
    justify-content: center;
}

.changePasswordComponentPage_changePassword_button button {
    padding: 12px 400px;

}

@media(min-width: 500px) {
    .changePasswordComponentPage_container {
        margin: 20px 100px;
    }
}

@media(min-width: 1023px) {
    .changePasswordComponentPage_changePassword_button button {
        padding: 12px 200px;
    }
}

@media(max-width: 1300px) {
    .changePasswordComponentPage_input_wrapper {
        margin: 80px 20px;
    } 

    .changePasswordComponentPage_currentPassword {
        padding: 0px 10px;
    }

    .changePasswordComponentPage_container {
        margin: 20px 10px;
    }

    .changePasswordComponentPage_changePassword_button button {
        padding: 12px 200px;
    }
}

@media(max-width: 499px) {
    .changePasswordComponentPage_input_wrapper {
        margin: 80px 0px;
    } 

    .changePasswordComponentPage_currentPassword {
        padding: 0px 10px;
    }

    .changePasswordComponentPage_container {
        margin: 20px 10px;
    }

    .changePasswordComponentPage_changePassword_button button {
        padding: 12px 120px;
    }
}