.screenModel_wrapper_container {
    /* border: 1px solid black; */
    box-shadow: 2px 2px 2px 2px #1134;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 10;
    padding: -20px 0px;
    /* margin-top: -30px; */
}

.screenModel_header_wrapper {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 10px 0px;
    font-size: large;
    font-family: sans-serif;
    box-shadow: 2px 2px 2px 2px #1134;
}

.div {
    cursor: pointer;
}

@media (max-width: 499px) {
    .screenModel_wrapper_container {
        margin: 0px 40px;
        /* margin-right: 20px; */
    }
}

@media (min-width: 500px) {
    .screenModel_wrapper_container {
        margin: 0px 30%;
    }
}