.Creator_chat_wrapper {
    display: flex;
    flex-direction: row; 
    align-items: center;
    justify-content: flex-end;
}

.Creator_chat_wrapper div:first-child {
    display: flex;
    align-items: center;
}

.creatorMessages_dropdown {
    font-size: xx-large;
}

.creatorMessage_show_model {
    border: 0.5px solid #1134;
    padding: 6px 12px;
    font-family: 'Times New Roman', Times, serif;
    margin-right: 8px;
}

.creatorMessage_show_model div {
    display: flex;
    align-items: center;
    margin: 2px 8px;
}

.creatorMessage_show_model div:first-child:hover {
    background: lightblue;
    border-radius: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
}

.Chat_body_receiver_wrapper {
    margin-top: 5em;
    display: flex;
    flex-direction: column;
    margin-left: 0.5em;
    background: #fff;
    margin-right: 5em;
    padding-top: 5px;
    padding-left: 12px;
    padding-bottom: 7px;
    border-radius: 8px;
    box-shadow: 0px 2px 5px 3px #1134;
    box-sizing: border-box;
}

.Chat_body_sender_wrapper {
    margin: 5px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-right: 0.5em;
    background: rgba(93, 173, 93, 0.7);
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 7px;
    border-radius: 8px;
    font-size: 15px;
}

.Chat_body_sender_img {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 10px;
    margin-right: 5px;
}




/* Receiver styles below */

.Chat_body_receiver_wrapper {
    margin: 5px 10px;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* margin-right: 0.5em; */
    background: rgba(239, 245, 239, 0.2);
    padding-top: 5px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 7px;
    border-radius: 8px;
    font-size: 15px;
    box-shadow: 1px 1px 1px 1px #1134;
}

.Receiver_chat_wrapper {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
}

.Chat_body_receiver_img {
    margin: 5px 10px;
}