.Input_container_wrapper {
    position: fixed;
    /* position: sticky; */
    bottom: 0;
    background: #dcd8d8;
    width: 98%;
    padding: 5px;
}


.Input_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.Input_wrapper input {
    width: 100%;
    padding: 10px 0px;
    outline: none;
    border: 1px solid rgba(30, 146, 30, 0.4);
    border-radius: 10px;
    font-size: 16px;
}

.Input_wrapper div:first-child,
.Input_wrapper div:last-child {
    font-size: xx-large;
}