@media(min-width: 500px) {
    .transfer_containers {
        font-size: 1.2em;
    }

    .transfer_div {
        display: flex;
        align-items: center;
    }

    .transfer_div div {
        margin: 0px 5px;
    }
}

@media(max-width: 499px) {
    .transfer_div {
        display: inline-block;
    }
}