.transactionHistory_header_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.transactionHistory_transaction_details {
    padding: 15px 20px;
}

.transactionHistory__details {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


@media(min-width: 499px) {
    .transactionHistory__details {
        display: flex;
        /* flex-direction: column; */
        align-items: center;
        justify-content: space-evenly;
    }
    .transactionHistory_transaction_details {
        padding: 15px 0px;
    }
}