.recipientWalletNumber_wrapper {
    padding: 20px 30px;
    border-bottom: 0.2px solid grey;
}

.recipientWalletNumber_wrapper p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.recipientWalletNumber_input_wrapper input {
    border: none;
    outline: none;
}

.recipientWalletNumber_wrapper p:last-child {
    font-size: small;
    color: red;
}