.Toolbar_wrapper {
    background: rgb(28, 209, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Toolbar_ul_wrapper ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 1.7em;
    cursor: pointer;
}

.Toolbar_ul_wrapper ul a {
    color: #fff;
}

.Toolbar_ul_wrapper ul a:active {
    border-bottom: 4px solid #fff;

}

.Toolbar_ul_wrapper ul a img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

@media(min-width: 1023px) {
    .Toolbar_wrapper {
        background: #fff;
        box-shadow: 0 8px 5px 0 #1134;
        width: 12%;
        height: 100vh;
    }

    .Toolbar_ul_wrapper ul a img {
        width: 100px;
        height: 100px;
    }

    .Toolbar_ul_wrapper ul a {
        color: rgb(72, 93, 227); 
        height: 12vh;
        padding: 20px 0px;
    }

    .Toolbar_ul_wrapper ul {
        display: flex;
        flex-direction: column;
        padding: 50px;
        color: #fff;
        font-size: 1.7em;
        cursor: pointer;
    }
}