.Toolbar_wrapper {
    background: rgb(28, 209, 109);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}

.Toolbar_ul_wrapper ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #fff;
    font-size: 1.7em;
    cursor: pointer;
}

.Toolbar_ul_wrapper ul a {
    color: #fff;
}

.Toolbar_ul_wrapper ul a:active {
    border-bottom: 4px solid #fff;

}

.Toolbar_ul_wrapper ul a img {
    width: 40px;
    height: 40px;
    border-radius: 50px;
}

/* @media(min-width: 768px) {
    .Toolbar_wrapper {
        width: 40%;
    }
} */