.largeButton_wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
}


.largeButton_wrapper button {
    padding: 8px 98vh;
    text-align: center;
    border-radius: 10px;
    cursor: pointer;
}

@media(max-width: 499px) {
    .largeButton_wrapper button {
        padding: 12px 99px;
    }
}

@media(max-width: 541px) {
    .largeButton_wrapper button {
        padding: 20px 99px;
    }
}

@media(max-width: 345px) {
    .largeButton_wrapper button {
        padding: 20px px;
    }
}

@media(min-width: 766px) {
    .largeButton_wrapper button {
        padding: 20px 270px;
    }
}

